<!DOCTYPE html>
<html lang="en">


<head>
	<%- include("../partials/head.ejs") %>
	<link rel="stylesheet" href="/css/modal.min.css">
	<link rel="stylesheet" href="/css/test.min.css">
</head>


<body>
	<div class="wrapper">
		<header class="header header_breadcrump">
			<%- include("../partials/header.ejs") %>
			<div class="breadcrump">
				<a class="breadcrump__first breadcrump__item" href="/">Тести ЗНО онлайн </a>
				<a class="breadcrump__second breadcrump__item" href="/<%= subjectNames.linkName %>"><%= subjectNames.name %></a>
				<a class="breadcrump__third breadcrump__item" href="#">ЗНО онлайн 2021 року з <%= subjectNames.nameRodovuyVidminok %> – <%= pageName %></a>
			</div>
		</header>

		<main class="main">

			<div class="main__body">
				<div class="question__controls">
		
				</div>
				<form class="question__form form" name="userForm">
					<div class="question__elements" id="answer-form">
			
					</div>

					<div class="form__btn-block">
						<div class="form__btn-block-left">
							<button class="form__green-btn form__btn" id="submitBtn" type="button">Відповісти</button>
							<button class="form__green-btn form__btn" id="nextBtn" type="button">Пропустити</button>
							<button class="question__seeall-btn form__green-btn form__btn" type="button">Дивитись усі</button>
						</div>
									
						<div class="form__btn-block-right">
							<button class="form__end-btn form__btn" type="button">Завершити тест</button>
						</div>
					</div>
				</form>
			</div>

			<div class="main__advertising">
				Реклама
			</div>
		</main>
		<%- include('../partials/footer.ejs') %>
	</div>
	
	<script defer type="module" src="/script/pages/test.js"></script>
</body>

</html>